[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "==3.22.0"
environs = "==9.5.0"
marshmallow = "==3.19.0"
python-dotenv = "*"
asyncpg = "*"
aiohttp = "*"

[dev-packages]

[requires]
python_version = "3.12"
